
<!-- <nav class="navbar navbar-expand-sm navbar-light bg-white" data-toggle="affix">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <a id="navbrand" class="navbar-brand" routerLink=""><img src="assets/img/5bitslogo.png"> AiNewsDetector </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarsExample11">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" id="heading_link" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="heading_link" routerLink="moderate">Moderate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="heading_link" routerLink="howto">HowTo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="heading_link" routerLink="about">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

-->



<mat-toolbar>
		<span>
            <a id="navbrand" class="navbar-brand" routerLink=""><img src="assets/img/5bitslogo.png"> AI News Detector</a>
        </span>
  
  <span><a class="nav-link" id="heading_link" routerLink="">Home</a></span>
  <span><a class="nav-link" id="heading_link" routerLink="moderate">Moderate</a></span>
  <span><a class="nav-link" id="heading_link" routerLink="howto">HowTo</a></span>
  <span><a class="nav-link" id="heading_link" routerLink="about">About Us </a></span>
  <span class="spacer"></span>

    <app-sharebutton></app-sharebutton>


    <app-menu 
      [options]="options$ | async"
      (themeChange)="themeChangeHandler($event)">
    </app-menu>

</mat-toolbar>