@font-face {
	font-family: LogoHeading;
	src: url("/assets/fonts/aquire-font/AquireLight-YzE0o.otf") format("truetype");
}

#navbar {
	position: sticky;

	/* make this bottom : 0 for bottom nav bar */
	top: 0;

	left: 0;
	z-index: 9999;
	width: 100%;
	height: 50px;
}

.logoHead {
	font-family: LogoHeading;
}

#heading_link {
	font-weight: 400;
}

img {
	max-width: 30%;
	height: auto;
	padding: 0px, 0px;
	margin: 0px, 0px;
	border: 0px;
}

a {
	padding-right: 10px;
	padding-left: 10px;
	/* padding-right: 30px; */
	font-size: 1em;
}

#navbrand {
	height: 100%;
	width: 50%;
	/* margin-left: 12%; */
	font-size: 2em;
	text-decoration-color: white;
}

a,
a:visited {
	color: inherit;
}

nav {
	height: 7em;
}

.menu-spacer {
	flex: 1 1 auto;
}
