<!-- Responsive navbar-->

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar id="navbar" class="example-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        <a id="navbrand" class="navbar-brand" routerLink=""><img fxShow="true" fxHide.lt-md src="assets/img/5bitslogo.png">
          <span class="logoHead">ArtiFact</span>
        </a>
      </span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
         <!-- moderate should only show for moderators, also auth gaurd route -->
        <span><a mat-button class="nav-link" id="heading_link" routerLink="moderate">Moderate</a></span>
        <span><a mat-button class="nav-link" id="heading_link" routerLink="">Home</a></span>
        <span><a mat-button class="nav-link" id="heading_link" routerLink="howto">HowTo</a></span>
        <span><a mat-button class="nav-link" id="heading_link" routerLink="about">About Us </a></span>
      </div>

      <!-- <button *ngIf="!mobileQuery.matches" mat-icon-button ><mat-icon>face</mat-icon> </button> -->
      <app-download-plugin></app-download-plugin>
      <app-user-accountbutton></app-user-accountbutton>
      <app-sharebutton></app-sharebutton>
      <app-menu [options]="options$ | async" (themeChange)="themeChangeHandler($event)"></app-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'push' : 'push'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="home" (click)="sidenav.toggle()">Home</a>
        <a mat-list-item routerLink="moderate" (click)="sidenav.toggle()">Moderate</a>
        <a mat-list-item routerLink="howto" (click)="sidenav.toggle()">HowTo</a>
        <a mat-list-item routerLink="about" (click)="sidenav.toggle()">About Us</a>
        <br>
        <a mat-list-item (click)="sidenav.toggle()">Close</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!--End of responsive navbar-->
