<!-- <nav class="navbar navbar-expand-sm navbar-light bg-white" data-toggle="affix">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <a id="navbrand" class="navbar-brand" routerLink=""><img src="assets/img/5bitslogo.png"> AiNewsDetector </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarsExample11">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" id="heading_link" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="heading_link" routerLink="moderate">Moderate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="heading_link" routerLink="howto">HowTo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="heading_link" routerLink="about">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>




<mat-toolbar>
		<span>
            <a id="navbrand" class="navbar-brand" routerLink=""><img src="assets/img/5bitslogo.png"> <span>AI News Detector</span></a>
        </span>

   <span class="spacer"></span>
  
  <span><a mat-button class="nav-link" id="heading_link" routerLink="">Home</a></span>
  <span><a mat-button class="nav-link" id="heading_link" routerLink="moderate">Moderate</a></span>
  <span><a mat-button class="nav-link" id="heading_link" routerLink="howto">HowTo</a></span>
  <span><a mat-button class="nav-link" id="heading_link" routerLink="about">About Us </a></span>

    &nbsp;&nbsp;

    <app-sharebutton></app-sharebutton>


    <app-menu 
      [options]="options$ | async"
      (themeChange)="themeChangeHandler($event)">
    </app-menu>

</mat-toolbar>

-->


<!-- Responsive navbar-->
<div id="nav" style="height: 80vh;">
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        <a id="navbrand" class="navbar-brand" routerLink=""><img src="assets/img/5bitslogo.png"> <span>AI News
            Detector</span></a>
      </span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <span><a mat-button class="nav-link" id="heading_link" routerLink="">Home</a></span>
        <span><a mat-button class="nav-link" id="heading_link" routerLink="moderate">Moderate</a></span>
        <span><a mat-button class="nav-link" id="heading_link" routerLink="howto">HowTo</a></span>
        <span><a mat-button class="nav-link" id="heading_link" routerLink="about">About Us </a></span>
      </div>

      &nbsp;&nbsp;

      <app-sharebutton></app-sharebutton>


      <app-menu [options]="options$ | async" (themeChange)="themeChangeHandler($event)">
      </app-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" mat-list-item>Close</a>
        <a mat-list-item routerLink="">Home</a>
        <a mat-list-item routerLink="moderate">Moderate</a>
        <a mat-list-item routerLink="howto">HowTo</a>
        <a mat-list-item routerLink="about">About Us </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

<!--End of responsive navbar-->