<mat-nav-list>
  <a mat-list-item (click)="openLink($event,'https://github.com/COS301-SE-2020/AI-Online-Assistant-Fake-News-Detector#team-members')">
  <div>
    <span mat-line>GitHub</span>
    <span mat-line>Visit our repo ⊙﹏⊙</span>
  </div>
  </a>

  <a mat-list-item (click)="emailCurrentPage()">
    <span mat-line>Email</span>
    <span mat-line>Share this page via email</span>
  </a>

  <a mat-list-item (click)="openLink($event,'')">
    <span mat-line>Twitter</span>
    <span mat-line>Share this page on Twitter</span>
  </a>

  <a mat-list-item (click)="openLink($event,'')">
    <span mat-line>Facebook</span>
    <span mat-line>Share this page on Facebook</span>
  </a>
</mat-nav-list>
