<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [mode]="'over'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="">Check</a>
      <a mat-list-item href="">Report</a>
      <a mat-list-item href="">Analytics</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>AiNewsDetectoor</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-input></app-input>
  </mat-sidenav-content>
</mat-sidenav-container>
