.logoHead {
  font-family: LogoHeading;
  text-decoration: none;
  font-size: 1.7em;
}

#widelogo {
  max-height: 30px;
}

button {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 0.9em;
}

a,
a:visited {
  color: inherit;
}

@media screen and (max-width: 400px) {
  app-download-plugin {
    display: none;
  }
}

@media screen and (max-width: 370px) {
  app-menu {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  app-sharebutton {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  #widelogo {
    display: none;
  }
}
