<button mat-icon-button [matMenuTriggerFor]="login"> <mat-icon>account_circle</mat-icon> </button>

<mat-menu #login="matMenu">
    <a (click)="$event.stopPropagation();">

        <div *ngIf="signIn && !signUp">
        <app-login></app-login>
        <div class="help-block text-center"><h4 id="signupText">Are You New Here? <a  color="link" (click)="toggleForm()"> Sign Up</a> </h4>  </div>
       </div>

       <div  *ngIf="signUp && !signIn">
        <app-sign-up></app-sign-up>
        <div class="help-block text-center"><h4 id="signupText">Already have one? <a color="link" (click)="toggleForm()"> Login </a> </h4>  </div>
       </div>
   
    </a>
  </mat-menu>