.hero-body {
  margin-left: 1em;
  margin-right: 1em;
}

.container {
  height: auto;
}

.example-form-field {
  width: 100%;
}

.example-button-row {
  text-align: center;
}

.example-button-row button {
  margin-right: 8px;
}
