&nbsp;
<mat-form-field class="example-form-field">
  <mat-label>Source/URL/Fact/Text</mat-label>
  <input matInput type="text" [(ngModel)]="value">
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

  <div class="example-button-row">
    <button mat-raised-button (click)="clickCheck()" class="checkBtn">Check</button>
    <button mat-raised-button color="primary" (click)="clickReport()">Report</button>
    <button mat-raised-button color="accent" (click)="clickFind()">Analytics</button>
  </div>


<div>&nbsp;</div>

<mat-card class="example-card" *ngIf="isSource">
  <mat-card-header>
    <mat-card-title>Source {{source.name}} is in our database!</mat-card-title>
    <mat-card-subtitle>URL: {{source.tld}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/source.gif" alt="source">
  <mat-card-content>
    <p>
      This source has a rating of {{source.rating}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="isSource=false;source=null">Dismiss</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card" *ngIf="isFact">
  <mat-card-header>
    <mat-card-title>This fact is in our database!</mat-card-title>
    <mat-card-subtitle>Statement: {{fact.statement}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/fact.gif" alt="fact">
  <mat-card-content>
    <p>
      The fact has a popularity of rating of {{fact.popularity}}.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="isFact=false;fact=null">Dismiss</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card" *ngIf="reported">
  <mat-card-header>
    <mat-card-title>Source reported</mat-card-title>
    <mat-card-subtitle>URL: {{value}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/report.gif" alt="reported">
  <mat-card-content>
    <p>
      The URL has been reported to contain fake news.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="reported=false">Dismiss</button>
  </mat-card-actions>
</mat-card>
