.example-form-field {
	width: 100%;
}
.example-button-row {
	display: block;
}

.example-button-row button {
	display: table-cell;
	margin-right: 8px;
}

.example-card {
	max-width: 400px;
	max-height: 350px;
	display: inline-block;
	margin-right: 1em;
	margin-bottom: 1em;
}
