<mat-form-field class="example-form-field">
  <mat-label>Source/URL</mat-label>
  <input matInput type="text" [(ngModel)]="value">
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

  <div class="example-button-row">
    <button mat-raised-button (click)="clickCheck()">Check</button>
    <button mat-raised-button color="primary" (click)="clickReport()">Report</button>
    <button mat-raised-button color="accent" (click)="clickFind()">Analytics</button>
  </div>



<mat-card class="example-card" *ngIf="checkFake">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Fake</mat-card-title>
    <mat-card-subtitle>URL: {{value}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://cdn1.img.sputniknews.com/img/107843/75/1078437515_0:-1:1001:541_1000x541_80_0_0_ef6282ef090b0c653f13241eb33deb5b.jpg.webp" alt="fake news">
  <mat-card-content>
    <p>
      The URL points to news that was determined to be fake by our engine.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Query</button>
    <button mat-button (click)="checkFake=false">Dismiss</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card" *ngIf="checkValid">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Valid</mat-card-title>
    <mat-card-subtitle>URL: {{value}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="valid news">
  <mat-card-content>
    <p>
      The URL points to news that was determined to be valid by our engine.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Query</button>
    <button mat-button (click)="checkValid=false">Dismiss</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card" *ngIf="reported">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Source reported</mat-card-title>
    <mat-card-subtitle>URL: {{value}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://memegenerator.net/img/instances/55571127/much-status-so-report-much-improve-wow.jpg" alt="reported news">
  <mat-card-content>
    <p>
      The URL has been reported to contain fake news and is under review by our engine.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="reported=false">Dismiss</button>
  </mat-card-actions>
</mat-card>
