.section.hero {
    padding-bottom: 92px;
    padding-top: 92px;
    background-color: #c72c69;
    text-align: center;
    min-width: 70px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .topcontainer {
    padding-right: 70px;
    padding-left: 70px;
  }
  
  .topsection {
    padding-top: 70px;
    padding-bottom: 0px;
    text-align: center;
  }
  
  h3 {
    font-size: 3em;
    font-weight: 300;
    /* color: black; */
  }
  
#TrendingStatistics{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.ngx-charts-outer{
    margin: 0;
}
  
  .nowrap {
    white-space: nowrap;
  }
  