.section.hero {
  padding-bottom: 72px;
  padding-top: 92px;
  background-color: #c72c69;
  text-align: center;
  min-width: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

.topcontainer {
  padding-right: 70px;
  padding-left: 70px;
}

.topsection {
  padding-top: 70px;
  padding-bottom: 0px;
  text-align: center;
}

h3 {
  font-size: 3em;
  font-weight: 300;
  /* color: black; */
}

p {
  margin-top: 2em;
  font-size: 22px;
  font-weight: 2em;
  color: black;
  line-height: 1.6;
}

.nowrap {
  white-space: nowrap;
}

a {
  color: white;
  text-decoration: none;
}

.example-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.octocat {
  cursor: pointer;
}

svg,
h3,
a {
  filter: drop-shadow(0.8px 0.8px 0.8px #111) drop-shadow(1px 1px 1px #111) drop-shadow(1px 1px 1px #111) drop-shadow(1px 1px 1px #111);
}