<div class="container-fluid">
  <div class="topsection tophero">
    <div class="topcontainer">
      <h3><span class="text-span">About Us</span></h3>
    </div>
    <img class="img-fluid" src="assets/img/groupphoto.png">
  </div>

  <div class="section hero">
    <h3><span class="nowrap">Who are 5Bits?</span></h3>
    <p>
      We are a group of Software Engineering students frocontainer-fluidm the University of Pretoria; Danré Retief,
      Thato Tshukudu, Quinton Coetzee, Stuart Barclay and Alistair Payn (from left to right).
      For our final year project we decided to contribute towards the fight against Fake News
      by working with our client Mr Dirk Naude and Claudio Da Silver, from Epi-Use Labs, to
      develop an OpenSaaS project that will assist regular online-information consumers and
      content publishers to detect fake news and prevent the sharing of it respectively.
    </p>
    <p>
      Our team is made up of highly experienced individuals and multiple top achievers.
      We are passionately lead by our team leader, Stuart, and our willingness to learn and
      resilience guided us throughout this project. We believe that fake news poses an
      incredible threat to the free world and we are therefore grateful for the opportunity
      to tackle this problem.
    </p>
  </div>
</div>
