/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@keyframes yourAnimation {
    0.0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

.elementToAnimate {
    animation: yourAnimation 1.5s ease 0s 2 normal none;
}
