<div class="section hero"> 
    <div class="container w-container">
            <h4>We value your contribution </h4>
            <p id="heading">As a moderator, your input will help improve our AI's accuracy...so please tread carefully.</p>

    </div>

    &nbsp; &nbsp; &nbsp; &nbsp; 
    <div class="container w-container">

        
        <form [formGroup]="SourceInputForm" (ngSubmit)="Search()">
            

                <mat-form-field color="primary" id="sourceInput"  class="example-form-field">
                    <mat-label>Enter source name (e.g CNN)</mat-label>
                    <input matInput  type="text" formControlName="SourceName">
                </mat-form-field>

                <div>
                    <button mat-raised-button color="accent" >Search Source</button>
                </div>
               
        </form>

           
       
            <div  *ngIf="sourcelist.source">
                <mat-card id="SearchResponseCard" class="example-card" *ngIf="dismiss">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"><img id="cardImg" src="assets/img/5bitslogo.png"/></div>
                      <mat-card-title>{{sourcelist.source?.name}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p> <span>Source URL: </span> <i>{{sourcelist.source?.tld}}</i></p>
                       <p> <span>Popularity Rating: </span><i>{{sourcelist.source?.rating}}</i></p> 
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-raised-button color="accent" (click)="dismiss=false">Dismiss</button>
                      <button mat-raised-button color="accent" (click)="DeleteSource(sourcelist.source?._id)">Delete Source</button>
                    </mat-card-actions>
                  </mat-card>

            </div>

            <!--Alternate divs that load when specific events occur-->
            <div *ngIf="sourceDeleteResponse">
                <mat-card id="SearchResponseCard" class="example-card">
                    <mat-card-content>
                        <p> Source has been deleted...Good riddance.</p> 
                    </mat-card-content>
                  </mat-card>

            </div>

            <div *ngIf="searchResponse">
                <mat-card id="SearchResponseCard" class="example-card">
                    <mat-card-content>
                        <p> Unfortunately, we do not know about that source.</p> 
                    </mat-card-content>
                  </mat-card>

            </div>


            <!--End of alternative divs-->


       
                 

    </div>

    
</div>


<div class="topsection tophero"> 
    <div class="topcontainer w-container">
        <h4>You believe there is a fact that our AI doesn't know about?</h4>
        <h4>Our AI engine is always hungry for new information. </h4>

        <div id="listOfFacts">
            
            <ul style="list-style-type:none;"  *ngFor="let fact of factslist; let i = index">
                <li *ngIf="7 > i">"{{fact.statement}}"</li>
                {{fact.count}}
            </ul>
  
        </div>

        <!--Start of fact input form-->

        <!--
        <mat-form-field class="example-form-field">
            <mat-label>Source/URL</mat-label>
            <input matInput type="text" [(ngModel)]="statement">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          
            <div class="example-button-row">
              <button mat-raised-button (click)="onSubmit()">Check</button>
            </div>
        -->

        <div class="container-fluid">
  
          
            <form [formGroup]="FactInputForm" (ngSubmit)="onSubmit()">
  
                <mat-form-field id="statement" class="example-form-field">
                    <mat-label>Type in a fact</mat-label>
                    <input matInput type="text" formControlName="statement">
                </mat-form-field>

                  <span></span>

                  <mat-form-field id="popularity" class="example-form-field">
                    <mat-label>Rating between 0-100</mat-label>
                    <input matInput matInput id="popularity" type="number" formControlName="popularity">
                  </mat-form-field>
         
            <div>
                <button mat-raised-button color="accent" (click)="insertFactResponse=true" type="submit">Insert Fact</button>
            </div>
    
            </form>

    </div>

     <!--End of fact input form-->


     <!--Alternate divs that load when specific events occur-->
        <div *ngIf="insertFactResponse">
            <mat-card color="primary" id="SearchResponseCard" class="example-card">
                <mat-card-content>
                    <p> False fact has been added.</p> 
                </mat-card-content>
            </mat-card>

        </div>

        <!--End of alternative divs-->
    
</div>

