.container {
	padding-right: 70px;
	padding-left: 70px;
}

.section.hero {
	padding-bottom: 92px;
	padding-top: 92px;
	background-color: #c72c69;
	text-align: center;
}

.topcontainer {
	padding-right: 70px;
	padding-left: 70px;
}

.topsection {
	padding-top: 70px;
	padding-bottom: 0px;
	/* 
    moved this to assets/css for dark/light
    background-color: #e7e8ea; */
	text-align: center;
}

/* .topsection.hero{
    padding-bottom: 92px;
    padding-top: 92px;
    background-color: #e7e8ea;
    text-align: center;
} */
mat-card-title{
	align-items: center;
}
span{
	font-weight: 500;
}

h3 {
	font-size: 3em;
	font-weight: 300;
	/* color: black; */
}

h4{
  font-size: 2em;
  font-weight: 100;
  color: #A9A9A9;
}

#heading {
	margin-top: 2em;
	font-size: 20px;
	font-weight: 200;
	
}

img {
	height: 70%;
	width: 100%;
}

#popularity{
  width: 20%;
  min-width: 190px;
  margin-left: auto;
  margin-right: auto;
}

#listOfFacts{
  margin-top: 40px;
  margin-bottom: 40px;
}

ul{
  font-size: 1.5em;
  font-weight: 100;
}


@media (max-width: 590px) {
	#popularity{
		margin-left: auto;
		margin-right: auto;
	}
  }

#statement{
	margin-right: 1em;
	width: 20%;
	min-width: 190px;
}
@media (max-width: 590px) {
	#statement{
		margin-left: auto;
		margin-right: auto;
	}
  }

  #sourceInput{
	  width: 40%;
	  min-width: 220px;
  }

  #SearchResponseCard{
	  width: 40%;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 3em;
	  margin-bottom: 3em;
  }

  #cardImg{
	  width: 50px;
  }
  
  toggle-button {
	margin: 0 auto;
  } 