<form>
    
    <mat-form-field id="statement" class="example-form-field">
        <mat-label>Name</mat-label>
       <input matInput type="text" required>
   </mat-form-field>

   <mat-form-field id="statement" class="example-form-field">
    <mat-label>Surname</mat-label>
   <input matInput type="text" required>
    </mat-form-field>

    <mat-form-field id="statement" class="example-form-field">
        <mat-label>Phone Number</mat-label>
       <input matInput type="text" required>
        </mat-form-field>

    <mat-form-field id="statement" class="example-form-field">
         <mat-label>Email Address</mat-label>
        <input matInput type="email" required>
    </mat-form-field>

    <mat-form-field id="statement" class="example-form-field">
    <mat-label>Password</mat-label>
     <input matInput type="password" required> <br>
    </mat-form-field>
    <!-- <div class="help-block text-center"><a href="">Forget the password ?</a></div> --> 

<div>
     <button type="submit" mat-raised-button color="accent">Sign Up</button>
</div> <br>
</form>
